<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alodokter Backoffice </title>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'admin/bootstrap/dist/css/bootstrap.min.css' %>
    <!-- Font Awesome -->
    <%= stylesheet_link_tag 'admin/font-awesome/css/font-awesome.min.css' %>
    <!-- NProgress -->
    <%= stylesheet_link_tag 'admin/nprogress/nprogress.css' %>
    <!-- Animate.css -->
    <%= stylesheet_link_tag 'admin/animate.css/animate.min.css' %>

    <!-- Custom Theme Style -->
    <%= stylesheet_link_tag 'admin/custom.css' %>
</head>

<body class="login">
    <%= yield %>
</body>
</html>